.carticon-container{
    border: none;
    background: transparent;
    display: inline-block;
    position: relative;
    padding: 15px;
}
.carticon-container:hover{
    cursor: pointer;
}
.carticon-icon{
    color: "#303030";
    height: 1.5rem;
}


.carticon-count{
    font-size: .75em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    padding: 2px;
    color: white;
    border-radius: 100%;
    background-color: rgb(218, 101, 101);
}